<div class="card">
  <h1>Character Lookup</h1>

  <p>
    Welcome to the ultimate Rick and Morty character database, your go-to source
    for all things interdimensional! Dive into the eccentric world of Rick
    Sanchez and his trusty sidekick Morty Smith with our comprehensive character
    profiles.
  </p>

  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Characters</mat-label>
      <input
        type="text"
        placeholder="Select your favourite character or start typing to search"
        matInput
        formControlName="character"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        [displayWith]="displayFn"
      >
        @for (character of characters(); track character.id) {
        <mat-option [value]="character">
          {{ character.name }} (ID: {{ character.id }})
        </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>

  @if (favouriteCharacter(); as character) {
  <pre>{{ character | json }}</pre>
  }
</div>
