<div class="card">
  <h1>Character Lookup</h1>

  <p>
    Welcome to the ultimate Rick and Morty character database, your go-to source
    for all things interdimensional! Dive into the eccentric world of Rick
    Sanchez and his trusty sidekick Morty Smith with our comprehensive character
    profiles.
  </p>

  <app-character-autocomplete-form
    (characterSelected)="handleCharacterSelected($event)"
  />

  @if (selectedCharacter(); as character) {
  <pre>{{ character | json }}</pre>
  }
</div>
