.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(
    186deg,
    #b3df29 0%,
    #b3df29 50vh,
    #ffffff 50vh,
    #ffffff 100%
  );

  &-content {
    margin: 32px;
  }
}
